.navbar.navbar-fixed-top.navbar-default
    .container
        .collapse.navbar-collapse
            a.navbar-brand(href="#") #{title}
            if user && user.role > 10
                ul.nav.navbar-nav
                    li
                        a(href="/") 首頁
                    li
                        a(href="/admin/user/list") 用戶列表
                    li
                        a(href="/admin/movie/list?page=0") 電影列表
                    li
                        a(href="/admin/movie/new") 新增電影
                    li
                        a(href="/admin/category/list") 電影分類列表
                    li
                        a(href="/admin/category/new") 新增電影分類
            form(method='GET', action='/results')
                .input-group.col-sm-4.pull-right(style="margin: 10px 0")
                    input.form-control(type='text', name='q')
                    span.input-group-btn
                        button.btn.btn-default(type='submit') 搜索

p(style="margin-top: 100px;")  
