extends ../layout
block content
    .container
        .row
            ul.nav.nav-pills.nav-stacked
                li(role="presentation")
                    a(href="/") 首頁
                li(role="presentation")
                    a(href="/admin/user/list") 用戶列表
                li(role="presentation")
                    a(href="/admin/movie/list") 電影列表
                li(role="presentation")
                    a(href="/admin/movie/new") 新增電影
                li(role="presentation")
                    a(href="/admin/category/list") 電影分類列表
                li(role="presentation")
                    a(href="/admin/category/new") 新增電影分類
