extends ../layout
block content
    .container
        .row
            table.table.table-hover.table-bordered
                thead
                    tr
                        th 用戶名
                        th 創建時間
                        th 刪除
                tbody
                    each item in users
                        tr(class="item-id-#{item._id}")
                            td #{item.name}
                            td #{moment(item.meta.updateAt).format('YYYY/MM/DD')}
                            td
                                button.btn.btn-danger.del(type="button", data-id="#{item._id}") 刪除
    script(src="/static/js/user.js")